.THIS .slds-modal__header{
        background-color: #F3F2F2;
    opacity: 1;
}
.THIS .slds-modal__content{
        background-color: #F3F2F2;
    opacity: 1;
}
.THIS .slds-modal__footer{
        
    opacity: 1;
}
.THIS .slds-backdrop {
    background-color: lightgray;
}
.THIS .fontclass{
    font-size: 20px;
    font-family:verdana;
    color: #000000;
    
}
.THIS .fontcolor{
    
    font-family:verdana;
    color: #4d4d00;
    
}