.THIS .slds-page-header.nok-variant {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.THIS.ncp-tabbed-content-area {
    /* min-height: 185px; */
}

.THIS.ncp_bottom_border {
    border-bottom: 1px solid t(ncp_grey2);
}

@media (min-width: 768px) {
    .THIS .slds-page-header.nok-variant {
        padding: 1rem;
    }
}