.THIS.ncp-grid_column-wrap {
    /* flex-flow: column wrap;
    align-content: stretch;
    max-height: 250px; */
}

@media (min-width: 768px) {
    .THIS.ncp-grid_column-wrap {
        flex-flow: column wrap;
        max-height: 250px;
    }
}



.THIS a{
    color:#124191;
}
.THIS a:visited{
    color:#124191;
}