.THIS .slds-table_header-fixed_container {
    position: relative;
    padding-top: 2rem;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border: 1px solid rgb(212, 212, 212) !important;
    border-radius: 0.25rem !important;
}