.THIS .slds-page-header.nok-variant,
.THIS.slds-page-header.nok-variant {
    border: none;
    background-color: t(ncp_grey1);
}

.THIS .slds-tile {
    border: 1px solid t(ncp_grey2);
}

/* IE fix */
.THIS .slds-combobox__form-element{
    height:calc(1.875rem + (1px * 2));
}