.THIS .container-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f6f9;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #d8dde6;
}

.THIS .vertical-center {
 height: 6rem;
 position: relative;  
}