.THIS .table-test thead th span {
}
.THIS label.uiLabel {
    padding-right: 12px;
}
.THIS .customRequired{
 font-weight: 400; } .THIS .customRequired:before{    
 content: "*";
 margin: 0 0.125rem 0 0.125rem;
 color: rgb(194, 57, 52);
 float: left; } .THIS .none{
 display:none; }

.THIS .field{
  padding: 5px;
  border: 1px solid #dce4ec;
  border-radius: 2px;
}
/*adjusting help text position*/
.THIS .customIcon div{
    vertical-align: top !important;
}
 
.THIS.customIcon div{
    vertical-align: top !important;
}
.THIS .message{
  color:red;
  font-weight:bold;
  font-size:15px
}
.THIS.slds-spinner_container {
  z-index: 10000;
  position: fixed;
}

.THIS .slds-lookup__menu{display:block;}
.THIS .slds-hide.slds-lookup__menu{display:none;}
.THIS .THIS .associateSlideShade .slds-pill{margin:5px 5px 5px 0;}
.THIS .slds-pill + .slds-pill{margin-left:0px;}

.THIS .delInfoBGCol{
	background-color: #99b3ff;
}

.THIS .delInfoBorderCol{
	border: 1px solid rgb(194, 57, 52) !important;
}
.THIS .hideLabel label{
    display:none;
}