.THIS .errormessage {
    color: red;
}

.THIS a {
    color: var(--lwc-brandTextLink,rgb(1, 118, 211));
    text-decoration: none;
    transition: color .1s linear;
}
.THIS a:hover { text-decoration: underline; }
.THIS .inline-display { display:inline; }      
.THIS svg {vertical-align: text-top;}