/*toggleCss.css*/
.THIS .toggle {
    display: none;
}

.THIS .left{
    left:750px;
}

.THIS .header {
    font-size: 35px;
    font-family: "NokiaPureHeadline_Ultralight", "Salesforce Sans", Arial, Helvetica, sans-serif;
    color :#124191;
}

.THIS .validatecmp {
    padding: 2rem;
    width: 55rem;
}

.THIS .validatecmp p {
    margin: 13px 1px;
}

.THIS .validatecmp h2 {
    font-size: 1.7em;
    font-family: "NokiaPureHeadline_Light", "Salesforce Sans", Arial, Helvetica, sans-serif;
    color: #124191;
}

.THIS .validatecmp h2 .slds-icon-utility-info .slds-icon-text-default {
    fill: #124191;
    margin-top: -5px;
}

.THIS .confirmationMessagePanel {
    padding: 21px;
    margin: 8px 0;
}

.THIS .confirmationMessagePanel p {
    margin: 13px 1px;
}

.THIS .confirmationMessagePanel h2 {
    font-size: 2.8em;
    font-family: "NokiaPureHeadline_Light", "Salesforce Sans", Arial, Helvetica, sans-serif;
    color :#124191;
}


.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}




.THIS .slds-card {
    border: none;
    width: 55rem; 
    padding: 1rem;
}

@media  (min-width: 768px) {
	.THIS .slds-accordion__summary {
  		display: none !important;
	}    
}

@media  (min-width: 1280px) {
	.THIS .table-filter .slds-grow .searchBt {
    	text-align: right;
    	position: relative;
	}
    .THIS .table-filter .slds-grow button {
        width: 60%;
        margin-top: 1px;
	}
}




@media  (min-width: 1024px) {
	.THIS .confirmButton {
   		margin-left: auto;
   		text-align: right;
	}    
}