.THIS .slds-tile {
    border: 1px solid t(ncp_grey2);
}

.THIS table td .slds-icon-utility-check svg{
    fill:t(ncp_primary_brand);
}

.THIS .slds-page-header{
    background:t(ncp_grey1);
}

.THIS .ncp-icon-selected {
    fill: t(ncp_primary_brand);
}

.THIS .ncp-title-icon {
    color : t(ncp_grey4);
}

.THIS .ncp-tile_icon .slds-icon_container{
    float: left;
    padding: 8px;
    background: #0f3e8f;
    border-radius: 0px;
}

.THIS .ncp-line{
    border-bottom: 1px solid t(ncp_grey2);
    width:100%;
}

.THIS .slds-is-open .slds-hide{
    display:none;
}

.THIS .slds-bread-cumb-sep{
    border-bottom:1px solid t(ncp_grey2);
}

.THIS .slds-breadcrumb .slds-list__item::before,
.THIS .slds-breadcrumb__item::before{
    color:t(ncp_primary_brand);
}

.THIS .cNCP_LoginPrompt .slds-media__body h3{
    display:none;
}

.THIS .slds-dropdown__item > a {
    white-space: normal;
}