.THIS .slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
}
.THIS input[type=checkbox]:checked.normal-inputcheckbox{
    border-color: #1589ee; 
    background-color: #1589ee;
}
.THIS input[type=checkbox]:checked.disabled-inputcheckbox{	
    border-color: #808080; 
    background-color: #808080;
}
.THIS .customToastMessageNewLine{
     white-space : pre-line !important;
}
.THIS table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;     
}
.THIS table.dataTable thead th{
    border-bottom:none !important;
}
.THIS table.dataTable thead td{
    padding: 8px 10px !important; 
}
.THIS .dataTables_scrollBody {
    border-bottom: 1px solid rgb(176, 173, 171) !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}
.THIS .dataTables_scrollHead {
    overflow: inherit !important;
}
.THIS .breakwords{
    white-space:normal !important;
    word-wrap: break-word !important;
}
.THIS .leftmargin{
    margin-left:10px !important;
}
.THIS .theadleftmargin{
    margin-left:2px !important;
}
.THIS .dataTables_empty {
	display:none;
}
.THIS div.dataTables_scrollBody {
    width: 1753.5px !important;
}