.THIS .slds-text-heading--label{
    text-transform:none;
}

.THIS table td .slds-icon-utility-check svg{
    fill:#124191;
}

.THIS .ncp-td{
    color:#001135;
}

.THIS .ncp-th{
   color:#4D5766;
}

.THIS .ncp-header{
    width:23rem;  
}
.THIS {
    border: none;
}

.THIS th,
.THIS td{
    white-space: normal;
}