.THIS .slds-table thead th span {
    text-transform: capitalize;
    font-size: 15px;
    font-family: "NokiaPureHeadline_Ultralight", "Salesforce Sans", Arial, Helvetica, sans-serif;
}
.THIS .tableheadercolor{
   text-transform: capitalize;
    font-size: 15px;
    font-family: "NokiaPureHeadline_Ultralight", "Salesforce Sans", Arial, Helvetica, sans-serif;   
}
.THIS .table-pagination .slds-button-group button {
    width: 48px;
    height: 43px;
    -ms-transform: scale(0.7,0.7);
    -webkit-transform: scale(0.7,0.7);
    transform: scale(0.7,0.7);
    margin: 5px;
}

.THIS .table-pagination .slds-button-group small {
    margin: 19px 2px;
}

.THIS .icn svg{
    fill : green;
}

.THIS .icn1 svg{
    fill : red;
}

.THIS .infoicon svg{
    height : 20px;
    fill  :white;
}

.THIS .header {
    font-size: 35px;
    font-family: "NokiaPureHeadline_Ultralight", "Salesforce Sans", Arial, Helvetica, sans-serif;
    color :#124191;
}

.THIS .featureTD {
	background-color: rgba(222,229,239,0.6);
    border-style: solid;
    border-width: 0 2px;
    border-color: rgb(212, 212, 212);
    padding: 0;
}

.THIS .featureTD .featureTable thead th {
	/*font-family: "NokiaPureHeadline", "Salesforce Sans", Arial, Helvetica, sans-serif;*/
    background: transparent;
    font-weight: bold;
}

.THIS .featureTD .featureTable {
	font-size: 88%;
}


.THIS .slds-table tbody td.featureTD {
	background-color: rgba(222,229,239,0.6);
}



.THIS .slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}

.THIS .slds-table thead th span {
    text-transform: capitalize;
    font-size: 15px;
    font-family: "NokiaPureHeadline_Ultralight", "Salesforce Sans", Arial, Helvetica, sans-serif;
}

.THIS .slds-table thead th a.slds-th__action {
    height: 47px;
}


/*.THIS .table-filter .slds-grow button {
        width: 60%;
    	position: absolute;
    	top: 70%;
    	transform: translate(-50%, -50%);
}*/

.THIS .table-filter .slds-select_container::before {
    display: none;
}

.THIS .table-filter .slds-select_container::after {
    bottom: 13px;
}

.THIS .table-pagination .slds-button-group button {
    width: 48px;
    height: 43px;
    -ms-transform: scale(0.7,0.7);
    -webkit-transform: scale(0.7,0.7);
    transform: scale(0.7,0.7);
    margin: 5px;
}

.THIS .table-pagination .slds-button-group small {
    margin: 19px 2px;
}

.THIS .table-pagination .slds-button-group button.slds-button_brand[disabled] {
    background-color: transparent;
    border-color: #ddd;
    color: #ddd;
}

.THIS .selectedRow{
    background-color: rgba(222,229,239,0.6);
}

.THIS .selectedtablerow{
   background-color: rgba(222,229,239,1);
   font-weight: bold;
}

@media  (min-width: 768px) {
	.THIS .slds-accordion__summary {
  		display: none !important;
	}    
}

@media  (min-width: 1280px) {
	.THIS .table-filter .slds-grow .searchBt {
    	text-align: right;
    	position: relative;
	}
    .THIS .table-filter .slds-grow button {
        width: 60%;
        margin-top: 1px;
	}
}



@media  (max-width: 768px) {
	.THIS .table-pagination {
  		display: flex;
    	justify-content: center;
	}
	.THIS .table-filter .slds-grow:last-of-type {
    	text-align: center;
    }    
}

@media  (max-width: 768px) {
	.THIS .table-pagination {
  		display: flex;
    	justify-content: center;
	}
	.THIS .table-filter .slds-grow:last-of-type {
    	text-align: center;
    }    
}

@media (max-width: 48em) {
	.THIS .slds-max-medium-table_stacked-horizontal td:before {
    	text-transform: capitalize;
    	font-family: "NokiaPureHeadline_Ultralight", "Salesforce Sans", Arial, Helvetica, sans-serif;
	}
    .THIS .featureTD {
		padding: 0 !important;
        border-bottom: 1px solid rgb(212, 212, 212);
	}
    .THIS .hide-th {
        display : none;
    }
}