.THIS.internalview {
    border: 1px solid lightgray;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color : white;
}

.THIS.portalview {
    padding: 5px;
    margin-bottom: 10px;
    background-color : white;
    min-height: 150px;
}