.THIS .customCSSClass .slds-cell-edit__button{
    display:none;
}
.THIS .slds-modal__container .statusclass{
    max-width: 100% !important;
    width:51% !important;
    max-height: 100% !important;
}
.THIS .statusclassModalcontent{
    height:70% !important;
}
.THIS .disableButton{
    display:none;
}
.THIS .borderclr{
   /* border: 1px solid red;
    border-top:1px solid red;
    border-bottom: 1px solid red;
    
    border-color: red;
    border-top:1px solid red;
    border-bottom: 1px solid red;*/
    background: #f98f8f;
}
 /*
.THIS .borderclrleft{
    border-color: red;
    border-left:1px solid red;
    
    border-bottom: 1px solid red;
   
    border: 1px solid red;
    border-top:1px solid red;
    border-bottom: 1px solid red;
    border-color: red;
    border-collapse: collapse;
    
    
}
.THIS .borderclrright{
    border-color: red;
    border-right:1px solid red;
    border-bottom: 1px solid red;
    
    /*border-collapse: collapse;
    border: 1px solid red;
    border-top:1px solid red;
	border-collapse: collapse; 
   
}*/