.THIS .dataTables_filter
{
  margin-left: 15px !important;
  margin-bottom: 15px !important;
}
.THIS .dataTableheader{
     border-bottom: 1px solid #DDDBDA !important;
}


.THIS table.dataTable tbody td {
    padding: 8px 18px ;
}