.THIS .custom-section {
    border-radius: .25rem;
    border: 1px solid rgb(212, 212, 212);
    overflow: hidden;
}



.THIS .custom-section .slds-accordion {
    width: 100%;
}



.THIS .slds-is-open>.slds-accordion__summary{
    background-color: rgb(243, 242, 242);
}



.THIS .custom-section .slds-accordion__summary {
    background-color: var(--lwc-colorBackground,rgb(243, 242, 242));
        }
        
        .THIS .custom-section .slds-is-open .slds-accordion__summary {
            position: inherit;
            border-bottom: 1px solid rgb(212, 212, 212);
        }
        /* Portal Fixes */
        .THIS .custom-section .slds-accordion__list-item {
            border: none !important;
        }
        
        .THIS .custom-section .slds-accordion__section,
        .THIS .custom-section .slds-accordion__summary {
            padding-top: var(--sds-c-accordion-section-spacing-block-start, var(--lwc-spacingSmall,0.75rem)) !important;
                        padding-right: var(--sds-c-accordion-section-spacing-inline-end, var(--lwc-spacingSmall,0.75rem)) !important;
                                padding-bottom: var(--sds-c-accordion-section-spacing-block-end, var(--lwc-spacingSmall,0.75rem)) !important;
                                        padding-left: var(--sds-c-accordion-section-spacing-inline-start, var(--lwc-spacingSmall,0.75rem)) !important;
                                            }
                                            
                                            .THIS .large-font .slds-form-element__label {
                                                font-size: 1rem;
                                                font-weight: bold;
                                            }
                                            
                                            .THIS .large-font-header .slds-accordion__summary-heading {
                                                font-size: 1rem;
                                                font-weight: bold;
                                            }