.THIS {
    float: left;
    margin: 2px;
    display: inline;
}

@media only screen and (min-width: 1281px) {
    .THIS {
    	width: calc(50% - 23px);
    	display: inline-block;
	}
}

@media only screen and (max-width: 1280px) {
    .THIS {
    	width: 97%;
    	display: inline-block;
	}
}


.THIS .greyBoxCard {
    background-color: rgba(222,229,239,0.6);
    margin: 8px 1px;
    padding: 13px;
    width: 100%;
    min-height: 150px;
    
}

.THIS .greyBoxCard h3{
    margin: 2px 2px 13px 2px;
    font-size: 18px;
    font-family: "NokiaPureHeadline_Ultralight", "Salesforce Sans", Arial, Helvetica, sans-serif;
}

.THIS .greyBoxCard .nameBadge{
    /*border-right: 1px solid #ddd;
    width: 30%;*/
}

.THIS .img-circle {
    border-radius: 50%;
    max-width:100%;
    max-height:100%;
}