.THIS.greyBoxCard {
    background-color: rgba(222,229,239,0.6);
    padding: 13px;
    min-height: 150px;
}

.THIS.greyBoxCard h4{
    margin: 13px;
    font-size: 21px;
    font-family: "NokiaPureHeadline_Ultralight", "Salesforce Sans", Arial, Helvetica, sans-serif;
}
 

.THIS .img-circle {
    border-radius: 50%;
    max-width:100%;
    max-height:100%;
    margin: 5px;
}


@media only screen and (max-width: 1024px) {
    .THIS.greyBoxCard {
    	padding: 8px;
        min-height: 125px;
    } 
    .THIS.greyBoxCard h4{
    	margin: 8px;
    	font-size: 16px;
    }
    .THIS.greyBoxCard p{
    	margin: 2px 5px;
	}
    .THIS.greyBoxCard p.contactemail{
    	overflow:hidden;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 480px) {
    .THIS.greyBoxCard .slds-grid {
    	display: flex;
    	align-items: center;
    	justify-content: center;
    }
    
    .THIS .img-circle {
    	margin: 13px;
	}	
	.THIS.greyBoxCard {
    	padding: 8px;
        min-height: 125px;
    } 
    .THIS.greyBoxCard h4{
    	margin: 8px;
    	font-size: 14px;
    }
    .THIS.greyBoxCard p{
    	margin: 2px 5px;
	}
    .THIS.greyBoxCard p.contactemail{
    	overflow:hidden;
        text-overflow: ellipsis;
    }
    
}