.THIS {
}
.THIS #toast {
    visibility: hidden;
    max-width: 80vw;
    min-height: 50px;
    max-height:150px;
    /*margin-left: -125px;*/
    margin: auto;
    text-align: center;
    border-radius: 10px;

    position: fixed;
    z-index: 1;
    left: 0;right:0;
    top: 10px;
    font-size: 17px;
    white-space: nowrap;
    opacity:1
}
.THIS #toast #img{
	width: 50px;
	height: 50px;
    border-radius: 10px;
    float: left;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    box-sizing: border-box;

    
    background-color: #111;
    color: #fff;
}
.THIS #toast #desc{

    font-size:15px;
    color: #fff;
   
    padding: 8px;
    
    overflow: hidden;
	white-space: normal;
}

.THIS #toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 13s 1s, shrink 0.5s 14s, fadeout 0.5s 15s;
    animation: fadein 0.5s, stay 14s 0.5s, fadeout 0.5s 14.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 10px; opacity: 0.5;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 10px; opacity: 0.5;}
}

@-webkit-keyframes expand {
    from {min-width: 100px} 
    to {min-width: 550px}
}

@keyframes expand {
    from {min-width: 100px}
    to {min-width: 550px}
}
@-webkit-keyframes stay {
    from {min-width: 550px} 
    to {min-width: 550px}
}

@keyframes stay {
    from {min-width: 550px}
    to {min-width: 550px}
}
@-webkit-keyframes shrink {
    from {min-width: 550px;} 
    to {min-width: 100px;}
}

@keyframes shrink {
    from {min-width: 550px;} 
    to {min-width: 100px;}
}

@-webkit-keyframes fadeout {
    from {top: 10px; opacity: 1;} 
    to {top: 40px; opacity: 0;}
}

@keyframes fadeout {
    from {top: 10px; opacity: 1;}
    to {top: 0; opacity: 0;}
}