.THIS.slds-spinner_container {  
   /* z-index : 10000;
    position: fixed;
    margin: 0 auto;*/
}
.THIS .slds-docked-form-footer {
    background:rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 4%;
    left: 28%;
    width: 48%;
    border-width:4px; 
    border-style:none;
    box-shadow: 0px 0px;

    

}

.THIS.blockdisplay{
display: block;
}
.THIS.exampleHolder{
    /*position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;*/
}