.THIS .sectionHeader {
            width: 100%;
            background-color: #eee;
            font-size: 12pt;
            padding: 5px;
            margin: 20px 0px;
    		font-weight: bold;
       }


.THIS .button-width {
    width: 175px;
}

.THIS .custom-label {
    padding-left: .25rem;
    color: rgb(62, 62, 60);
    font-size: .75rem;
}