.THIS.addFilter {
  	
    bottom: 100%; 
    background:rgba(255, 255, 255, 0.9);
    
    position: absolute; 
    
}
.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
    width :99%;
    top:50%;
        left: 50%;
    
    height: 8%;
}

.THIS .slds-modal__content{
    overflow: initial;
}

.THIS .custom-box {
   
   
}