.THIS .slds-listbox.ncp-is-searching {
    min-height: 40px;
}

.THIS .slds-listbox__item.slds-is-active {
    background: t(ncp_grey1);
}

.THIS .ncp-text-body_regular-bold {
    text-decoration: underline;
}

.THIS .slds-input {
    padding-right: 2rem;
}

.THIS .ncp_productSearchIcon {
    position: absolute;
    top: 7px;
    right: 5px;
}

.THIS .slds-listbox {
    max-height: 270px;
    /* overflow: hidden; */
    overflow-y: scroll;
}

.THIS .slds-listbox.ncp_scrollable {
    overflow-y: scroll;
}