.THIS {
    background-color: rgb(255, 255, 255);
    border-radius: .25rem;
    border: 1px solid rgb(221, 219, 218);
}

.THIS .internalHeader {
    border: 0;
    border-bottom: 1px solid rgb(221, 219, 218);
    border-radius: 0;
    box-shadow: none;
}

.THIS .quoteListLayout {
    position: relative;
}

.THIS .filtering label {
    font-size: .75rem;
}

.THIS #helpOnFilterText {
    margin-bottom: 4px;
    color: rgb(105, 105, 105);
}

.THIS #helpOnFilterText .slds-form-element__icon {
    padding-top: 0;
}

.THIS div#buttonsBox {
    float: left;
}

.THIS div#buttonsBox span#stageButton {
    width: 200px;
}

.THIS .selectAllButton {
    width: 100px;
}

.THIS .selectAllButton:focus {
    box-shadow: none !important;
}

.THIS .slds-table thead th span {
    text-transform: capitalize;
    font-size: 12px;
    font-family: "Salesforce Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #666;
    text-transform: uppercase;
}

.THIS lightning-primitive-header-actions {
    display: none;
}

.THIS .tableHeader {
    margin-top: 20px;
    border-bottom: 1px solid rgb(212, 212, 212);
    color: #777;
}

.THIS .slds-th__action svg {
    fill: #2574a9;
}

.THIS .searchButton {
	margin-top: 22px;
}

.THIS .quoteTable .slds-table button svg {
    fill: #2574a9;
}

.THIS .slds-table .slds-button_icon-border-filled {
    width: 1.1rem;
    height: 1.1rem;
    padding: 0;
}

.THIS .quoteTable .slds-table th, .THIS .quoteTable .slds-table td {
    line-height: 1.8rem;
	vertical-align: top !important;
}

.THIS .optionsTable th {
    padding-left: 1rem;
    font-weight: normal;
}

.THIS div.slds-truncate {
    white-space: pre !important;
}

.THIS .optionsTableInputFileName {
    -webkit-column-width: 300px; /* Chrome, Safari, Opera */
    -moz-column-width: 300px; /* Firefox */
    column-width: 300px;
}

.THIS .slds-spinner_container {
    z-index: 10000;
    position: fixed;
    background-color: rgba(255,255,255,.75);
}

.THIS .table-pagination {
    margin-bottom: 1.5rem;
}

.THIS .table-pagination .slds-button-group button {
    width: 48px;
    height: 43px;
    -ms-transform: scale(0.7,0.7);
    -webkit-transform: scale(0.7,0.7);
    transform: scale(0.7,0.7);
    margin: 5px;
}

.THIS .table-pagination .slds-button-group span {
    font-size: 80%;
    margin: 19px 2px;
}

.THIS .table-pagination .slds-button-group button.slds-button_brand[disabled] {
    background-color: transparent;
    border-color: #ddd;
    color: #ddd;
}

/*** modal window  ***/

.THIS header h2 {
    color: rgb(37, 116, 169);
    font-weight: 400;
}

.THIS footer {
    background: #f3f2f2;
}

/*** dual list box in the modal window  ***/

.THIS .slds-dueling-list__column_responsive {
    min-width: 45%;
}
.THIS .slds-dueling-list__column_responsive .slds-dueling-list__options {
    min-width: 100%;
}

/*** help pop-up card in the modal window  ***/

.THIS .helpCard {
    width: 60%;
    position: absolute;
    right: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
    z-index: 100;
    background: rgb(254, 253, 253);
    margin-top:5px;
}

.THIS .helpCardBody {
    height: 350px;
    overflow-y:scroll;
}

.THIS .helpCardBody table th {
    width: 150px;
    vertical-align: top;
}

/*** combobox arrow to rotate when the list is dropped down ***/

.THIS .slds-dropdown-trigger.slds-is-open .slds-combobox__form-element .slds-icon {
    transform: rotate(180deg);
}

.THIS .custom-loading-text {
    transform: rotate(-90deg);
    position: absolute;
    top: -1.5rem;
    left: -1rem;
	white-space: nowrap;
	/*color: #2574a9;*/
	font-size: 1.2rem;
}