.THIS {
    float: left;
    margin: 2px;
    display: inline;
    margin-left: 20px;
}

@media only screen and (min-width: 1281px) {
    .THIS {
    	width: calc(50% - 23px);
    	display: inline-block;
	}
}

@media only screen and (max-width: 1280px) {
    .THIS {
    	width: 97%;
    	display: inline-block;
        margin-left: 0;
	}
}

.THIS .greyBoxCard {
    background-color: rgba(222,229,239,0.6);
    margin: 8px 1px;
    padding: 13px;
    width: 100%;
    min-height: 150px;
    
}


.THIS .greyBoxCard.survey {
    background-image: linear-gradient( to right, rgba(222,229,239, 0.9), rgba(222,229,239, 0)), url(/resource/Surveyimage);
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
}

.THIS .greyBoxCard h3{
    margin: 2px 2px 13px 2px;
    font-size: 18px;
    font-family: "NokiaPureHeadline_Ultralight", "Salesforce Sans", Arial, Helvetica, sans-serif;
}



.THIS .container {
  position: relative;
  width: 50%;
}

.THIS .imageresize {
 object-fit: cover;
  max-width: 500px;
  height: 175px;
}
/*.THIS .surveybutton{
position: absolute;
  top: 80%;
  left: 2%;
  font-size: 13px;
  padding: 12px 24px;
 
}*/
.THIS .updatebutton{
position: absolute;
  top: 65%;
  left: 40%;

}
.THIS .wordposition{
position: absolute;
  top: 15%;
  left:10%;
  font-size: 28px;
  color: black;
 
 
}