.THIS .appClassOne 
{
    max-width: 100%;
    margin-left: -10px;
}

.THIS .appClassTwo 
{
    max-width: 100%;
    margin-left: -5px;
}
.THIS .appClassThree 
{
    max-width: 100%;
    margin-left: -6px;
}
.THIS .appClassFour 
{
    max-width: 100%;
    margin-left: -6px;
}
.THIS .appClassFive 
{
    max-width: 100%;
    margin-left: -6px;
}
.THIS .appClassSix
{
    max-width: 100%;
    margin-left: -6px;
}
.THIS .appClassSeven
{
    max-width: 100%;
    margin-left: -5px;
}
.THIS .appClassEight
{
    max-width: 100%;
    margin-left: -6px;
}
.THIS .appClassNine
{
    max-width: 100%;
    margin-left: -5px;
}
.THIS .appClassTen
{
    max-width: 100%;
    margin-left: 13px;
}
.THIS .appClassEleven
{
    max-width: 100%;
    margin-left: -7px;
}
.THIS .appClassTwelve
{
    max-width: 100%;
    margin-left: -5px;
}
.THIS .appClassThirteen
{
    max-width: 100%;
    margin-left: -5px;
}
.THIS .appClassFourteen
{
    max-width: 100%;
    margin-left: -5px;
}
.THIS .appClassFifteen
{
    max-width: 100%;
    margin-left: -5px;
}
.THIS .appClassSixteen
{
    max-width: 100%;
    margin-left: -3px;
}
.THIS .appClassSeventeen
{
    max-width: 100%;
    margin-left: -5px;
}
.THIS .appClassEighteen
{
    max-width: 100%;
    margin-left: -7px;
}
.THIS .appClassNinteen
{
    max-width: 100%;
    margin-left: -5px;
}
.THIS .appClassFormat
{
    max-width: 100%;
    margin-left: -5px;
}
.THIS .slds-text-heading_small
{
    font-size: 1rem;
    line-height: 1.25;
    margin-right: 15px;
}
.THIS .slds-modal__container{
       max-width: 70rem !important;
       width:70% !important;

}