.THIS .slds-table thead th div {
    font-size: 12px;
    color: #000000; 
    font-weight: bold;
}
.THIS .slds-media__body h1 {
  
}

.THIS .slds-media__body p {
  padding-top: 7px;
}
.THIS .hidetext_areas {
  position:absolute;
  left:-9999px
}