.THIS {
}
.THIS .headerColor{
    background-color: #113f94;
    color : white;
}
.THIS .lt50{
   color : blue;
}

.THIS .lt75{
  background-color: white; 
}

.THIS .gt74{
  background-color: green;
}