/** CSS override for Napili custom theme **/

.THIS {
    max-width: 90rem;
    padding-top: 67px;
    position: relative;
    z-index: 1;
}

.THIS .ncp-brand_logo {
    width: 114px;
}

.THIS .ncp-main-content-area {
    min-height: 590px;
    overflow: hidden;
}

/* Hide the user profile edit button */
.THIS .userDetailsEditButton,
.THIS .forceCommunityUserProfileDetail .branding-actions {
    display: none;
}

/* User settings hackery */

.THIS .uiTabset--default .tabs__item:last-child {
    display: none;
}

.THIS .tabs__content .row:first-child,
.THIS .tabs__content .row:nth-child(2),
.THIS .tabs__content .row:nth-child(3) {
    display: none;
}

.THIS .profileVisibilitySection {
    padding-top: 1rem;
}

.THIS .profileVisibilitySection .sectionboxVisibility {
    display: none;
}

.THIS .profileVisibilitySection .sectionboxVisibility:first-child {
    display: inline-block;
    border-width: 0 !important;
}

.THIS .forceCommunitySearchBox .body-search {
    z-index: initial;
}
.THIS .forceCommunitySearchBox .search-wrapper {
    z-index: initial;
    position: static;
}
.THIS .forceCommunitySearchBox.big-search-container {
    position: static;
}
.THIS .forceCommunitySearchBox .search-input-group {
    position: static;
}
.THIS .forceCommunitySearchBox .search-field-group {
    position: static;
}
.THIS .forceCommunitySearchBox.show-result .search-container .result-container {
    left: auto;
    border-top: none;
}
.THIS .forceCommunitySearchBox .curtain-blur {
    display: none;
}

.THIS .ncp-customRegion input{
    background: url(../resource/NCP_custom_theme_images/search16x16v2.png) no-repeat 11px center;
    border: 1px solid #d4d4d4;
    width:350px;
    height: auto;
    color:#98A2AE;
    padding-left: 35px;
    padding-right: 168px;
    min-height: calc(1.875rem + (1px * 2));
    color:#4D5766;
}

/* // hack to bring the search box in line with other focus styling */
.THIS .ncp-customRegion input:focus {
    border-color: #00C9FF;
    box-shadow: 0 0 3px 0 rgba(0, 201, 255, 0.5);
}

.THIS .ncp-customRegion .search-button {
    display:none;
}

.THIS .forceCommunitySearchBox .has-input .search-field,
.THIS .forceCommunitySearchBox .search-field:focus {
    padding-left: 35px;
}

.THIS .search-svg {
    position: absolute;
    top: 6px;
    left: 38px;
    z-index: 7;
}


.THIS .ncp-theme-banner .ncp-banner-title::selection,
.THIS .ncp-theme-banner .ncp-banner-slogan::selection,
.THIS .ncp-bar div::selection {
    color: #fff;
}
.THIS .ncp-theme-banner .ncp-banner-title::-moz-selection,
.THIS .ncp-theme-banner .ncp-banner-slogan::-moz-selection,
.THIS .ncp-bar div::moz-selection {
    color: #fff;
}

.THIS .forceCommunitySearchBox.show-result .result-container{
    width: 388px;
    left: 31px;
}

/* Prevent file upload */

.THIS .forceChatterPublisherAttachments .cuf-attachmentsList,
.THIS .forceContentFilesListDesktop .forceActionsContainer {
    display: none;
}


/* To be removed */

@media (min-width:1px) and (max-width: 767px) {

    .THIS .forceCommunityGlobalNavigation .slds-is-fixed>.slds-list_vertical {
        height: 100%;
        width: 40%;
        overflow-y: scroll;
        background: #fff;
    }

    .THIS .ncp-customRegion input{
        width: 100%;
        left: 0;
        background: none;
    }

    .THIS .forceCommunitySearchBox.focused .search-field,
    .THIS .forceCommunitySearchBox.focused .has-input .search-field,
    .THIS .forceCommunitySearchBox.focused .search-field:focus {
        padding-left: 37px;
    }
}


.THIS .forceCommunityGroupObjectHome {
    padding-left: 80px;
    padding-top: 20px;
}

.THIS .comm-content-footer {
    padding:0;
}