a.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}

.THIS .custom-box {
    text-align: center;
    background-color: #f4f6f9;
    padding: 1rem;
    border: 1px solid #d8dde6;
}
.THIS.forceActionsText{
     white-space : pre-line !important;
}
 
.THIS .inline-radio-button .slds-form-element__control .slds-radio{
    display : inline-block !important;
}