.THIS.ncp-banner {
    height: 121px;
    padding: 0 13px;
    display: flex;
    justify-content: space-between;
    
}

.THIS .ncp-text-headline_hero {
    font-size: 2.6rem;
    padding: 31px 0;
    color: #124191;
}
 

.THIS .ncp-banner-customer-logo {
    width: 210px;
    height: 110px;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 21px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    margin-top: 5px;
}

.THIS .ncp-banner-customer-logo img {
   width: 80%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);   
}

.THIS.ncp-banner.top-banner {
   background-size: cover;
   background-position-y: bottom;
   background-image: linear-gradient( to right, rgba(222,229,239, 0.65), rgba(255,255,255, 0.9)), url('https://nokia--ccpq1--c.cs26.visual.force.com/resource/1542711972000/CommunityGlass');
}