.THIS .slds-modal__container.large {
 	max-width: none !important;
    width: 90vw !important;
}

.THIS .slds-table_bordered {
    border-top: none !important;
}

.THIS .slds-form-element.slds-fix .slds-form-element__label {
    display: none;
}

.THIS .slds-form-element.slds-fix.readonly select {
    border-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    background: none;
}

.THIS .slds-form-element.slds-fix.readonly .slds-select_container::before {
    display: none;
}

.THIS .slds-form-element.slds-fix.readonly .slds-select_container::after {
    display: none;
}