.THIS {
    
}

.THIS .btTech {
    display: block;
    padding: 13px;
    width: 89%;
    min-height:50px;
    text-align: center;
    border: 2px solid #ddd;
    cursor: pointer;
    border-radius: 50px;
    font-family: "NokiaPureTextRegular", "Salesforce Sans", Arial, Helvetica, sans-serif;
}

.THIS .btDefault {
    background-color: white;
    color: #124191;
    border: 2px solid #ddd;
}

.THIS .btActivated {
    background-color: #124191;
    color: white;
    border: 2px solid #124191;
}

.THIS .techBox {
	font-family: "NokiaPureHeadline_Light", "Salesforce Sans", Arial, Helvetica, sans-serif;
    min-height: 260px;
    position: relative;
}


.THIS .reportBox{
    border-radius: 4px;
}

.THIS .reportBox .panel-heading {
   height: 50px;
}

.THIS .reportBox .panel-img {
   
}

.THIS .reportBox .panel-desc {
   height: 57px;
}

.THIS .techBox p {
	margin: 3px 8px;
}

.THIS .techBox .reportLinkBox {
    padding: 1px;
}

.THIS .techBox h4 {
	margin: 3px 8px;
    font-size: 18px;
    font-family: "NokiaPureHeadline_Ultralight", "Salesforce Sans", Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 480px) {
    .THIS .techBox {
		text-align: center;
    }
    .THIS .techBox .reportLinkBox {
    	position: relative;
	}
    .THIS .techBox img {
		width: 60%;
	}
}

@media only screen and (min-width: 1024px) {
    
    .THIS .techBox {
		min-height: 276px;
    }
    
}

.THIS .green {
    background-color: green;
}