.THIS .SDR {
    text-align: Left;
    font-weight: bold;
    font-size: 20pt;
    color: #124191;
}

.THIS .verDate {
    text-align: Left;
    font-weight: bold;
    font-size: 12pt;
    margin-bottom: 30px;
    color: #124191;
}
.THIS div.footer {
    display: block;
    padding: 5px;
    position: running(footer);
}

.THIS table {
    width: 100%;
}

.THIS .centered {
    text-align: center;
}

.THIS .right {
    text-align: right;
}

.THIS .tableHeader {
    border-width: 0px 0px 1px 0px;
    border-color: #000;
    border-style: solid;
}

.THIS .sectionHeader {
    width: 100%;
    background-color: #eee;
    font-size: 16pt;
    padding: 5px;
    margin: 20px 0px;
    font-weight: bold;
}
.THIS .actionColumn{
    display:none !important;
    visibility:hidden !important;
}
.THIS .wordWrap{
    width:80px;
}
.THIS .display-none{
    display:none;
}