.THIS.slds-docked-form-footer {
  	left: 28%;
    width: 45%;
    height: 8%;
    top: 85%;
    background:rgba(255, 255, 255, 0.9);
    padding: 0rem 0;
    
}
.THIS .slds-docked-form-footer {
    background:rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 4%;
    left: 28%;
    width: 48%;
    border-width:4px; 
    border-style:none;
    box-shadow: 0px 0px;
 
}
.THIS.blockdisplay{
   display :block;
}