.THIS .card_narrow{
    width: 25%;
    margin-bottom: 60px;
}
.THIS .element_stacked {
    padding-right: var(--lwc-spacingXxSmall,0.25rem);
    padding-left: var(--lwc-spacingXxSmall,0.25rem);
}
.THIS .hidden_element {
    display:none;          
}
.THIS.hidden_element {
    display:none;          
}
.THIS .footer_div {
	position: absolute;
	bottom: 0;
	width:100%;                
}
.THIS .error {
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorderError,rgb(234, 0, 30));
    border-radius: var(--sds-c-textarea-radius-border, var(--lwc-borderRadiusMedium,0.25rem));
}
.THIS .asterix{
    position: absolute;
    font-size: 15px;
    color: #da1d1d;
    padding-left: 4px;
    padding-top: 4px;
}
.THIS .requiredField .slds-form-element__label{
    margin-left: 9px;
}
.THIS .slds-has-error > lightning-picklist .slds-dueling-list__options {
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorderError,rgb(234, 0, 30));
    border-radius: var(--sds-c-textarea-radius-border, var(--lwc-borderRadiusMedium,0.25rem));
}
.THIS .slds-has-error > lightning-quill .slds-rich-text-area__content{
	border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorderError,rgb(234, 0, 30));
    border-radius: var(--sds-c-textarea-radius-border, var(--lwc-borderRadiusMedium,0.25rem));
}
.THIS .slds-has-error > lightning-quill .slds-input {
	box-shadow: var(--sds-c-input-shadow);
}
.THIS .slds-has-error .slds-input {
	border: var(--lwc-borderWidthThin,1px) solid var(--sds-c-input-color-border, var(--lwc-colorBorderInput,rgb(221, 219, 218)))
}
.THIS .slds-has-error .slds-textarea {
	border: var(--lwc-borderWidthThin,1px) solid var(--sds-c-textarea-color-border, var(--lwc-colorBorderInput,rgb(221, 219, 218)));
}
.THIS .competitorErrorMsg {
    margin-bottom: -35px;
    margin-top: 20px;
    font-size: var(--lwc-fontSize2,0.75rem);
    color: var(--lwc-colorTextError,rgb(234, 0, 30));
    height: fit-content;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}