.THIS .slds-spinner_container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: calc(9000 + 2);
  background-color: rgba(255,255,255,.75);
  visibility: visible;
  opacity: 1;
  transition: opacity .2s ease,visibility 0s;
  transition-delay: 0s,.3s;
}

.THIS .slds-section__title {
    font-weight: 500;
}
.THIS .hideButton {
    display:none;
}

.THIS .break-word{
    white-space: break-spaces !important;
}