.THIS .iconColor svg{
     fill:#BB2506;
}
.THIS input[type=checkbox]:checked.disabled-inputcheckbox{
    border-color: rgb(0, 178, 0); 
    background-color: rgb(0, 178, 0)
}
.THIS .slds-dropdown-trigger .slds-dropdown {
    height: 100px;
    overflow: auto;
}