.THIS .requiredOverRide label:before,
.THIS .requiredOverRide [lightning-quill_quill-host]:before {
    content: "*";
    margin-right: 6px;
    color: rgb(194, 57, 52);
}
.THIS .requiredOverRide lightning-input > div > input,
.THIS lightning-input.requiredOverRide > div > input {
    border: 2px solid rgb(194, 57, 52) !important;
}
.THIS .requiredOverRide .slds-select_container{
    border: 2px solid rgb(194, 57, 52) !important;
}
.THIS .right-align {
    text-align: right;
}