.THIS .slds-accordion__summary{
    background: rgb(243, 242, 242);
    border-radius: 0.35rem;
}
.THIS .slds-accordion__list-item {
    padding-top: 10px;
    border-top: none;
}
.THIS .slds-is-open>.slds-accordion__content {
    padding-top : 10px;
    padding-bottom : 10px;
}
.THIS .hidden_element {
    display:none;
}
.THIS.hidden_element {
    display:none;
}
.THIS .slds-section__title {
    font-weight: 500;
}