.THIS .border{
    border:None;
}
.THIS .slds-modelsize{
    height:500px;
    
}
.THIS .slds-close-size{
    height:25px;
}
.THIS .cuf-content{
    padding: 0rem !important;
}
.THIS .headingClass{
    text-shadow: 1px 1px gray;
    color: white;
}