.THIS.slds-modal__container{
    max-width: 500px !important;
    width:500px !important;
}

.THIS.slds-modal__content{
    position: absolute;
    height: auto;
    top: 58px;
    bottom: 55px;
}

.THIS.slds-modal__header {
    position: absolute;
    top: 0;
}

.THIS.slds-modal__footer {
    position: absolute;
    bottom: 0;
}

.THIS.isTab {
    left: 0;
    right: 0;
    margin: 0 auto;
    width : 80% !important;
    max-width : 80% !important;
}

.THIS.isTab.slds-modal__header {
    border-bottom: var(--lwc-borderWidthThick,2px) solid white;
}

.THIS.isTab.slds-modal__container{
    max-width: 500px !important;
    width:500px !important;
}

.THIS.isTab.slds-modal__footer {
    border-top: none;
    background: white !important;
}