.THIS .headerColor th
{
   background-color: #113f94;
    color:white;
}
.THIS .slds-text-title--caps
{
    color:white !important;
}
.THIS .slds-text-title--caps
{
    color:white !important;
}
/* .THIS .TextColor
{
    color:#113f94 !important;
}	-->	*/
/* commented above block to show the table content in black
/*.THIS .table-port 
{
    width:250px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}*/
.THIS .equal {
    width: 16.6%;
    display: inline-block;
    text-align:center;
}
.THIS .filterDroplist {
    padding: 10px;
}