.THIS .slds-radio {
    white-space: pre-wrap !important;
}
.THIS.quick-actions-panel {
    overflow-y: hidden;
}

.THIS.slds-modal__content:last-child {
    height: auto !important; 
    max-height: none !important;
}

.THIS.slds-modal__footer{
   /* margin-bottom:20px*/
}

.THIS.slds-form-element {
    padding-top: 8px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.THIS.slds-form-element__label{
    font-size: var(--lwc-fontSize3,0.8125rem) !important;
}

.THIS .spinner-div
{
    position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
    /*
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    */
    /*
    position: relative;
    background-color: #16325c;
    height: 80px;
    */
}
.THIS div[lightning-radiogroup_radiogroup] > span:nth-child(1)    {
   padding-bottom:15px;
            padding-top:10px;
            pointer-events: none;
}
.THIS div[lightning-radiogroup_radiogroup] > span:nth-child(4)    {
   padding-bottom:15px;
            padding-top:15px;
            pointer-events: none;
}
.THIS div[lightning-radiogroup_radiogroup] > span:nth-child(1) > input   {
   display:none;
}
.THIS div[lightning-radiogroup_radiogroup] > span:nth-child(4) > input  {
   display:none;
}
.THIS div[lightning-radiogroup_radiogroup] > span:nth-child(1) > label > span.slds-radio_faux   {
   display:none;
}
.THIS div[lightning-radiogroup_radiogroup] > span:nth-child(4) > label > span.slds-radio_faux  {
   display:none;
}
        
.THIS div[lightning-radiogroup_radiogroup] > span:nth-child(1) > label > span   {
  font-weight: bold;
 	           
}
.THIS div[lightning-radiogroup_radiogroup] > span:nth-child(4) > label > span   {
   font-weight: bold;
       
        }