.THIS .ch-output-table .slds-input {
    border-color: white;
    cursor: default;
}
.THIS .header-name-input{
    margin: 0 2%;
    padding: 0 2%;
    width: initial;
}
.THIS .section {
    margin-bottom: 1em;
}