.THIS .ncp-link{
    text-decoration: none;
    color: t(ncp_primary_brand);
}

.THIS .ncp-font-resources{
    color: t(ncp_primary_brand);
}
.THIS .ncp-lock-icon{
    position: relative;
    top: -3px;
}
.THIS .slds-button lightning-primitive-icon {
    position: relative;
    top: -2px;
}