.THIS.page-content .forceCommunityUserProfileDetail .profileName {
	font-family: "NokiaPureHeadline_Light", "Salesforce Sans", Arial, Helvetica, sans-serif;
    font-size: 21px;
}

.THIS.page-content .forceCommunityUserProfileDetail .userBadge {
    color: #124191;
    margin: 13px 1px;
    font-family: "NokiaPureHeadline_Light", "Salesforce Sans", Arial, Helvetica, sans-serif;
}

.THIS.page-content .forceCommunityUserSettings h1.texttitle {
    color: #124191;
    font-size: 21px;
    font-family: "NokiaPureHeadline_Light", "Salesforce Sans", Arial, Helvetica, sans-serif;
}