.THIS .myReportDivFrame {
   height: 600px;
    
}

.THIS .myReportDivFrame iframe {
   border-color: transparent;
}

.THIS .techBox h4{
	margin: 3px 8px;
    font-size: 18px;
    font-family: "NokiaPureHeadline_Ultralight", "Salesforce Sans", Arial, Helvetica, sans-serif;
}

.THIS .title{
    font-size: large;
}

.THIS .padding_left{
    padding-left:5.8rem;
}