/** CSS override for Napili custom theme **/

.THIS {
    max-width: 90rem;
}

.THIS .ncp-main-content-area {
    min-height: 990px;
}

.THIS .ncp-customRegion {
    /*width: 100%;
    background-color: #124191;*/
    
}

.THIS .ncp-customRegion .navigation{
    display: flex;
    background-color: #124191;
}

.THIS .ncp-customRegion .forceCommunityGlobalNavigation{
    justify-content: flex-start;
    border-bottom-color: transparent;
    background-color: #124191;
    min-height: 60px;
}

.THIS .ncp-customRegion .forceCommunityGlobalNavigation a {
    line-height: 3.1;
    height: 60px;
    padding: 8px 33px;
}

.THIS .ncp-customRegion .forceCommunityGlobalNavigation .slds-grid {
    padding: 0;
}

.THIS .ncp-customRegion .forceCommunityGlobalNavigation a.slds-is-active {
    background-color: #6784b1 !important;
}

.THIS .ncp-use-z-index {
    z-index: 1;
}


.THIS .forceCommunitySearchBox .body-search {
    z-index: initial;
}
.THIS .forceCommunitySearchBox .search-wrapper {
    z-index: initial;
    position: static;
}

.THIS .forceCommunitySearchBox.big-search-container {
    position: static;
}
.THIS .forceCommunitySearchBox .search-input-group {
    position: static;
}
.THIS .forceCommunitySearchBox .search-field-group {
    position: static;
}

.THIS .forceCommunitySearchBox.show-result .search-container .result-container {
    left: auto;
    border-top: none;
}

.THIS .forceCommunitySearchBox .curtain-blur {
    display: none;
}

.THIS .ncp-customRegion input{
    background: url(../resource/NCP_custom_theme_images/search16x16v2.png) no-repeat 11px center;
    border: 1px solid #d4d4d4;
    width:350px;
    height: auto;
    color:#98A2AE;
    padding-left: 35px;
    padding-right: 168px;
    min-height: calc(1.875rem + (1px * 2));
    color:#4D5766;
}

/* // hack to bring the search box in line with other focus styling */
.THIS .ncp-customRegion input:focus {
    border-color: #00C9FF;
    box-shadow: 0 0 3px 0 rgba(0, 201, 255, 0.5);
}

.THIS .forceCommunitySearchBox .has-input .search-field,
.THIS .forceCommunitySearchBox .search-field:focus {
    padding-left: 35px;
}


.THIS ::-webkit-input-placeholder { /* Chrome */
    color:#98A2AE;
}

.THIS :-ms-input-placeholder { /* IE 10+ */
    color:#98A2AE;
}

.THIS ::-moz-placeholder { /* Firefox 19+ */
    color:#98A2AE;
    opacity: 1;
}

.THIS :-moz-placeholder { /* Firefox 4 - 18 */
    color:#98A2AE;
    opacity: 1;
}

.THIS .ncp-theme-banner .ncp-banner-title::selection,
.THIS .ncp-theme-banner .ncp-banner-slogan::selection,
.THIS .ncp-bar div::selection
{
    color: #fff; /* WebKit/Blink Browsers */
}

.THIS .ncp-theme-banner .ncp-banner-title::-moz-selection,
.THIS .ncp-theme-banner .ncp-banner-slogan::-moz-selection,
.THIS .ncp-bar div::moz-selection{
    color: #fff; /* Gecko Browsers */
}

.THIS .forceCommunitySearchBox.show-result .result-container{
    width: 388px;
    left: 31px;
}

.THIS .ncp-customRegion .search-button{
    /*display:none;*/
}


.THIS .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger {
    text-align: right;
}

.THIS .ncp-customLogo{
    position: relative;
}

.THIS .ncp-customLogo img{
    width: 114px;
    /* padding-top: 11px; */
}

.THIS .ncp-bar{
    height: 48px;
    width: 100%;
    background: t(ncp_primary_brand);
    float: left;
    text-align: left;
    padding-top: 7px;
    color: #fff;
    font-size: 1.4rem;
}
.THIS .ncp-bar div{
    margin: 0 auto;
    width: 88%;
}

.THIS .ncp-bar svg{
    fill:#fff;
}

.THIS .footer-bottom {
    width:88%;
    margin : 0 auto;
    height:30px;
    padding-top:10px;
}

.THIS .footer-bottom li{
    width: auto;
    float: left;
    margin-right: 34px;
    font-family:NokiaPureHeadline,Helvetica,Arial,sans-serif;
}

.THIS .down-arrow,.THIS .triggerDownArrow{
    display:none !important;
}

.THIS .trigger-link{
    background: url(/resource/ncp_custom_theme_images/icon-user-profile.png) no-repeat center right;
    height: 21px;
    position: relative;
    padding-right: 19px;
}

.THIS .bell-icon svg{
    fill:#124191;
}

.THIS .cNCP_TileServiceCmp .ncp-label{
    font-family: NokiaPureHeadline_Light;
    font-size: 18px;
}

.THIS .comm-content-footer{padding:0;}

.THIS .forceCommunityGroupObjectHome {
    padding-left: 80px;
    padding-top: 20px;
}

.THIS  .selfServiceUserProfileMenu .menuList{
    width:200px;
}

.THIS .slds-col--padded{
    padding:0px;
}

.THIS .search-svg{
    position: absolute;
    top: 6px;
    left: 38px;
    z-index: 7;
}

.THIS .search-svg svg{
    fill:#124191;
}

.THIS .forceCommunityRecordListDesktop .slds-page-header{
    padding:10px;
}

@media (min-width:1px) and (max-width: 767px) {

    .THIS .forceCommunityGlobalNavigation .slds-is-fixed>.slds-list_vertical {
        height: 100%;
        width: 40%;
        overflow-y: scroll;
        background: #fff;
    }

    .THIS .ncp-customRegion input{
        width: 100%;
    }

    .THIS .profileMenuRegion .bell-icon {
        right: 24px;
    }

    .THIS .forceCommunitySearchBox.focused .search-field,
    .THIS .forceCommunitySearchBox.focused .has-input .search-field,
    .THIS .forceCommunitySearchBox.focused .search-field:focus {
        padding-left: 37px;
    }

    .THIS .ncp-customRegion input {
        left: 0px;
    }

    .THIS .search-svg{
        display:none;
    }

    .THIS .ncp-customRegion input{
        background: none;
    }

}

@media only screen and (min-aspect-ratio: 4/3) and (min-width: 48em), only screen and (min-width: 64.0625em){

    .THIS .selfServiceProfileMenuTrigger .trigger-link:focus {
        box-shadow: none;
        border-radius: 0;
    }

}