.THIS.slds-p-around-medium {
    padding: 0rem !important;
}

.THIS.cuf-content {
padding: 0 0rem !important;
}

.THIS.slds-modal__container{
    width: 850px !important;
    max-width: 850px !important;
}

.THIS.slds-modal__content:last-child {
    height: auto !important; 
    max-height: none !important;
}

.THIS.slds-modal__footer{
    margin-bottom:20px
}

.THIS.slds-form-element {
    padding-top: 8px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.THIS .spinner-div
{
    position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
    /*
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    */
    /*
    position: relative;
    background-color: #16325c;
    height: 80px;
    */
}