.THIS .ncp-login-content{
	padding: 10%;	
    padding-bottom: 40px;
    width: 80%;
}
.THIS .ncp-button-medium{	
	height: 36px;	
	width: 454.21px;	
	background-color: #124191;
}
.THIS .ncp-h-1-heading {
	height: 28px;
	width: 450px;	
	color: #124191;	
	font-size: 24px;	
	font-weight: 300;	
	line-height: 28px;
}
.THIS .ncp-h-1-heading svg{
	fill: #124191;	
}
.THIS .ncp-footerBar{
	text-align: center;
	padding-top: 200px;
}
.THIS .ncp-h-3-heading {	
	color: #4D5766;	
	font-size: 18px;	
	font-weight: 300;	
	line-height: 21px;
}
.THIS .ncp-input{
  min-height: 0px;
  border-radius: 0rem;
}
.THIS .ncp-button{
	color: #ffffff;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    background: #124191;
    padding: 9px;
    text-decoration: none;
    border: none;
    width: 100%;
    border-radius: 0px;
}

.THIS .ncp-button-lagre:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.THIS .ncp-border{
	border-color: #BEC8D2;
}