.THIS.slds-spinner_container {  
    z-index : 10000;
    position: fixed;
    margin: 0 auto;
}

.THIS .requiredOverRide label:before,
.THIS .requiredOverRide [lightning-quill_quill-host]:before {
    content: "*";
    margin-right: 6px;
    color: rgb(194, 57, 52);
}
.THIS .redOutLine lightning-input-rich-text > div,
.THIS .redOutLine lightning-input > div > input{
    border: 1px solid rgb(194, 57, 52) !important;
}
.THIS.blockdisplay{
display: block;
}
.THIS .sectionHeader {
            width: 100%;
            background-color: #eee;
            font-size: 12pt;
            padding: 5px;
            margin: 20px 0px;
    		font-weight: bold;
       }