.THIS.outage-banner{ 
	    background-color: #e7f3fd;
    padding: 10px;
    border-radius: 3px;
    border: 3px solid #000;
}

.THIS .banner-left{display: inline-block; float: left; width: 8%; margin: 48px 0px 0px 16px;}
.THIS .banner-left span{font-weight: bold; padding: 0 15px; display: inline; border: 4px solid #968d8d; border-radius: 25px; font-size: 30px; color: #968d8d; font-style: italic;}
.THIS .banner-right{display: inline-block; width: 89%;text-align: justify;}
.THIS .banner-right p:first-child,.THIS .banner-right p:nth-child(2){margin-bottom:5px;}
.THIS .banner-right h2{font-size:15px;}