.THIS {
}
.THIS .buttonLocation{
   
}
.THIS .Margin{
    margin-left: 20px;
    margin-top: 10px;
}
.THIS .oSelect{
    height: 100%;
}
.THIS .ErrorMsg{
    color:red;
}
.THIS .textColor{
    color:white;
}