.THIS .quickActionBox {
    position: absolute;
    height: 350px;
    width: 800px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
    border-radius: .25rem;
    overflow: hidden;
}
.THIS .closeQuickActionBox {
    position: absolute;
    height: 430px;
    width: 800px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: none;
}
.THIS .closeQuickActionBox > .close {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    top: 0;
    right: 0;
}
.THIS .closeQuickActionBox > .close svg {
    height: 1.5rem;
    width: 1.5rem;
}