.THIS input[type=checkbox]:checked.normal-inputcheckbox{
    border-color: #1589ee; 
    background-color: #1589ee;
}
.THIS input[type=checkbox]:checked.disabled-inputcheckbox{
    border-color: #808080; 
    background-color: #808080;
}
.THIS .dataTables_filter {
   float: left !important;
}
.THIS .dataTables_length {
   float: right !important;
}