.THIS .inputWidth
{
   width:50%;
}
.THIS .SizeField
{
   width:70%;
}
.THIS .red
{
    color:red;
}
.THIS .Position
{
    margin-left:10px;
}
.THIS.main {
    pointer-events: none;
    opacity: 0.4;
}
.THIS.show {
   display:block;
}
.THIS.hide {
   display:none;
}
.THIS .techText
{
    font-style: italic;
    color:red;
}

.THIS .inline {
  display: inline-block;
  margin: 1em;
}
.THIS .textAlign{
text-align: center !important;
}
.THIS .wrap {
  display: table;
  height:  100px;
  width:   160px;
  padding: 10px;
  border:  thin solid darkgray;
}
.THIS .wrap p {
  display: table-cell;
  vertical-align: middle;
}