.THIS {
  /* Height of 10 items plus 2px */
  min-height: 435px;
}
/* .THIS .Welcome {
  font-size: 24px;
  text-align: center;
  color: #54698d;
} */
/* .THIS .getStarted{
  opacity: 0.6;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #54698d;
  width: 335px;
} */
.THIS a{
  color: t(ncp_primary_brand);
}
.THIS .ncp-row{
  height: 40px;
}

.THIS .ncp-table{
    border-color: t(ncp_grey2);
    font-size: 14px;
}
.THIS .ncp-border-header{
  background-color: t(ncp_grey1);
  color: #4D5766;
}
.THIS .ncp-table-link{
  color: t(ncp_primary_brand);
}
.THIS .CompareCheckbox{
    margin-left: 30px;
}
.THIS .LazyLoad{
    height: 200px;
    overflow-y: auto;
}

.THIS .aes-actionMenu{
  margin-right: 15px;
}
.THIS .ncp-cursor{
  cursor: pointer;
}
.THIS .ncp-hide {
  display: none;
}
.THIS .ncp-border{
    border-top: 1px solid t(ncp_primary_brand);
    border-bottom: 1px solid t(ncp_primary_brand);
}
.THIS .ncptable svg{
    fill: t(ncp_grey4);
}
.THIS .ncp-upDownIcon{
  float: right;
}

.THIS .slds-media__body h3{display:none;}