.THIS .ncp-customNav-menu {
    position: absolute;
    width: 100%;
    border: 1px solid t(ncp_grey2);
}

.THIS .ncp-customNav-menu.slds-show {
    z-index: 1;
}

.THIS .ncp-customNav-menuTrigger {
    letter-spacing: 0.0625em;
    text-align: left;
    display: block;
}

.THIS .slds-tabs_default__nav {
    flex-direction: column;
}

.THIS .slds-tabs_default__item {
    width: 100%;
}

@media (min-width: 768px) {
    .THIS .ncp-customNav-menu {
        position: static;
        width: auto;
        border: none;
    }
    .THIS .ncp-customNav-menu.slds-show {
        z-index: auto;
    }
    .THIS .slds-tabs_default__nav {
        flex-direction: row;
    }
    .THIS .slds-tabs_default__item {
        width: auto;
    }
}