.THIS .leftPaddingClass {
    padding-left: 8px;
}


.THIS .ncp-link-button {
	text-decoration: none;
	padding-top: 5px;
}

.THIS .ncp-icon-blue svg{
    fill:#124191;
}
.THIS .ncp-result-container {
	overflow-y: scroll;
    max-height: 230px;
    min-height: 30px;
    overflow-x: hidden;
}
.THIS .ncp-submit{
	width: 97%;
}
.THIS .ncp-submit a{
	text-decoration: none;
}
.THIS .ncp-submit a{
    color:t(ncp_primary_background);
}

.THIS .slds-lookup.slds-is-open .slds-hide{
    display:none;
}

/* fix focus colour */
.THIS .uiInput--input.input:focus,
.THIS .uiInput--input.input:active {
    border-color: t(ncp_accenthover);
    box-shadow: 0 0 3px 0 t(ncp_focus_boxShadow);
}

.THIS .ncp-custom-input{
    min-height: calc(1.875rem + (1px * 2));
    border-radius: 0;
}