.THIS .customCSSClass .slds-cell-edit__button{
    display:none;
}
.THIS .slds-modal__container .statusclass{
    max-width: 100% !important;
    width:51% !important;
    max-height: 100% !important;
}
.THIS .statusclassModalcontent{
    height:70% !important;
}
.THIS .disableButton{
    display:none;
}
.THIS .container-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f6f9;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #d8dde6;
}

.THIS .vertical-center {
    height: 6rem;
    position: relative;  
}
.THIS .slds_button_p .slds-button_brand {
    padding-left:  0.3rem!important;
    padding-right: 0.3rem!important;
}