.THIS .ncp-listViewContainer{
  width:100%;
}
.THIS .ncp-hide{
  opacity:0px;
}
.THIS .ncp-icon-selected {
  fill: t(ncp_primary_brand);
}
.THIS .ncp-title-icon {
  color : t(ncp_grey4);
}

.THIS .ncp-PageContent{
  padding-top: 20px;
}