.THIS .exampleHolder{
    
    display: inline-block;
    width: 550px;
    vertical-align: middle;
    white-space: nowrap;
}

.THIS .mySpinner { 
  height: 5rem;
  width: 5rem; 
}

.THIS .slds-spinner_container {
  position: static;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: calc(9000 + 2);
  background-color: rgba(255,255,255,0);
  visibility: visible;
  opacity: 1;
  transition: opacity .2s ease,visibility 0s;
  transition-delay: 0s,.3s;
}