.THIS .slds-page-header.nok-variant {
    border: none;
    background-color: t(ncp_grey1);
}

.THIS .slds-tile {
    border: 1px solid t(ncp_grey2);
    /* height: 300px; */
}

.THIS .slds-tile-body {
    min-height: 171px;
}

.THIS .ncp-description {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  hyphens: auto;
}

.THIS .titleStyle{
    font-size: 16px;
}

.THIS .descriptionStyle{
    font-size: 12px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .THIS .slds-tile {
        height: 160px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .THIS .slds-tile {
        height: 160px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .THIS .slds-tile {
        height: 190px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .THIS .slds-tile {
        height: 220px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .THIS .slds-tile {
        height: 220px;
    }
}