.THIS .slds-accordion__section {
    text-decoration: none;
}
.THIS .slds-accordion__section slds-is-open {
    text-decoration: none;
}

.THIS .slds-accordion__list-item {
    border: none;
}

.THIS .slds-accordion__summary-heading .slds-button:focus {
    text-decoration-line: none;
}