.THIS .custom-header {
    padding: .5rem;
    text-align: center;
    font-size: var(--lwc-fontSize6,1.125rem);
    font-weight: bold;
    line-height: var(--lwc-lineHeightHeading,1.25);
    background-color: var(--lwc-colorBackground,rgb(243, 242, 242));
    border-radius: var(--sds-c-card-radius-border, var(--lwc-borderRadiusMedium,0.25rem));
}