.THIS .requiredOverRide label:before,
.THIS .requiredOverRide [lightning-quill_quill-host]:before {
    content: "*";
    margin-right: 6px;
    color: rgb(194, 57, 52);
}

.THIS #errorOnCreate  {
    color: rgb(194, 57, 52) !important;
    width: 85%;
    padding: 6px 6px;
}

.THIS #errorOnSave {
    color: rgb(194, 57, 52);
    width: 85%;
    padding: 6px 6px;
}

.THIS .redOutLine lightning-datepicker > div > div > input,
.THIS .redOutLine lightning-picklist lightning-base-combobox > div > div > input,
.THIS .redOutLine lightning-input-rich-text > div,
.THIS .redOutLine lightning-input > div > input,
.THIS lightning-input.redOutLine > div > input {
    border: 1px solid rgb(194, 57, 52) !important;
}
.THIS .slds-lookup__menu{display:block;}
.THIS .slds-hide.slds-lookup__menu{display:none;}
.THIS .THIS .associateSlideShade .slds-pill{margin:5px 5px 5px 0;}
.THIS .slds-pill + .slds-pill{margin-left:0px;}
.THIS.slds-spinner_container {
  z-index: 10000;
  position: fixed;
}

.THIS .testWidth{
      padding-right: 11px;
}

.THIS .delInfoBGCol{
	background-color: #99b3ff;
}

.THIS .delInfoBorderCol{
	border: 1px solid rgb(194, 57, 52) !important;
}
.THIS .slds-progress__marker {
    background: rgb(255, 255, 255);
    border: 4px solid rgb(255, 255, 255);
    cursor: default;
    outline : none;
}
.THIS .ErrorBoarder {
	 border: 1px solid rgb(194, 57, 52) !important;    
}
.THIS .mandatoryIcon {
    content: "*";
    margin-right: 6px;
    color: rgb(194, 57, 52);
}
.THIS .horizontalViewRetrofit .slds-form-element__control .slds-radio{
    display : inline-block !important;
}
.THIS .slds-form-element_horizontal .slds-form-element__control{
    padding-left: 22% !important;
}