.THIS select {
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
	padding: 0.45rem 1rem;
}

.THIS option {
	padding: 0.5rem 0;
    border-radius: 0.25rem;
}

.THIS .quickActionBox {
    position: absolute;
    height: 350px;
    width: 800px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
    border-radius: .25rem;
    overflow: hidden;
}

.THIS .closeQuickActionBox {
    position: absolute;
    height: 430px;
    width: 800px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: none;
}
.THIS .closeQuickActionBox > .close {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    top: 0;
    right: 0;
}
.THIS .closeQuickActionBox > .close svg {
    height: 1.5rem;
    width: 1.5rem;
}