.THIS .certis{
    background-color: blue;
}
.THIS .headerColor th
{
   background-color: #113f94;
    color:white;
}
.THIS .slds-text-title--caps
{
    color:white !important;
}
.THIS .Portfolio
{
    font-weight: bold;
}
/*.THIS .TextColor
{
    color:#113f94 !important;
}*/
.THIS .equal
{
    width: 15%;
}
.THIS .size
{
    
    width: 40%;
    overflow: hidden;
}

.THIS .table-title
{
    font-weight: bold;
    font-size: 16px;
}

.THIS .filterDroplist {
    padding: 10px;
}