.THIS .custom-button{
    display: inline;
}

.THIS .center-content {
    text-align: center;
}

.THIS .label-hidden > label {
    display: none;
}

.THIS .invoice-col {
    width: 25%;
}

.THIS .li-invoice-col {
    width: 75%;}

.THIS .checkbox-col {
    width: 3%;
}

.THIS .amount-col {
    width: 17%;
}

.THIS .description-col {
    width: 80%;
}

.THIS .alert-message{
    color: red;
}