.THIS .slds-grid_align-end { justify-content: center !important; }
.THIS .slds-th__action{ justify-content: center; }
.THIS .slds-form-element__label{
    font-size: 14px !important;
    font-weight: bold;
}
.THIS .slds-accordion__section{
    background-color: lightblue;
    
}
.THIS .slds-line-height_reset{
    background-color: lightblue;
}
.THIS .slds-modal__content{
    position: relative;
}
.THIS .slds-card__header{
    display: none;
}