.THIS .slds-input[disabled] {
    cursor: default !important;
}

.THIS .slds-required {
    color: inherit !important;
    margin-bottom: var(--lwc-spacingXSmall,0.5rem);
}

.THIS .slds-required label::before {
  	content: "* ";
	color: var(--lwc-colorTextError,rgb(194, 57, 52));
}