.THIS * {
    font-family: "NokiaPureHeadline_Ultralight", "Salesforce Sans", Arial, Helvetica, sans-serif !important;
}

.THIS.surveyBox {
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 0;
    padding: 2rem;
}

.THIS.surveyBox h1 {
    font-weight: 100;
    font-size: 2rem;
    color: rgba(18,65,145,1);
    width: 100%;
	margin-bottom: 2rem;
}

.THIS.surveyBox .description {
    width: 100%;
	margin-bottom: 2rem;
}

.THIS.surveyBox select {
    width: 100%;
    border-radius: 0;
}

.THIS.surveyBox {
    margin-top: 7.5rem;
}

.THIS.surveyBox button {
    background: rgba(18,65,145,1);
    color: rgba(255,255,255,1);
    margin-top: 1rem;
    margin-right: 2rem;
    border-radius: 0;
}

.THIS.surveyBox .textBtn {
    background: none;
    color: rgba(18,65,145,1);
    margin-top: 1rem;
    margin-right: 2rem;
    border-radius: 0;
    border: none;
}

.THIS.surveyBox .tab {
    background: none;
    color: rgba(50,50,50,1);
    margin-top: 1rem;
    margin-right: 2rem;
    border-radius: 0;
    border: none;
}

.THIS.surveyBox .activeTab {
    background: none;
    color: rgba(18,65,145,1);
    margin-top: 1rem;
    margin-right: 2rem;
    border-radius: 0;
    border: none;
    border-bottom: 0.5vmin solid rgba(18,65,145,1);
}

.THIS.surveyBox .question {
    width: 100%;
	margin-top: 2rem;
	margin-bottom: 1rem;
    font-weight: 100;
}

.THIS.surveyBox .hidden {
    display: none;
}

.THIS.surveyBox textarea {
    width: 100%;
	margin-top: 1rem;
	margin-bottom: 2rem;
    padding: 1rem 2rem;
    resize: vertical;
}

.THIS.surveyBox input {
    width: 100%;
	margin-top: 1rem;
	margin-bottom: 2rem;
    padding: 1rem 2rem;
}

.THIS.surveyBox .picklist {
    width: 100%;
	margin-top: 1rem;
	margin-bottom: 2rem;
    padding: 1rem 2rem;
}

.THIS.surveyBox .multichoice button{
    width: 100%;
    color: rgba(0,0,0,1);
    background: none;
    border: none;
    padding: 1rem 2rem;
}

.THIS.surveyBox .multichoice button:hover {
    color: rgba(255,255,255,1);
    background: rgba(18,65,145,1);
}

.THIS.surveyBox .multichoice button.active {
    color: rgba(255,255,255,1);
    background: rgba(18,65,145,1);
}

.THIS.surveyBox .desactive {
    background: rgba(18,65,145,0.5) !important;
    cursor: default;
}

.THIS.surveyBox .underRateLabel.left {
    display: inline-block;
    width: 50%;
    color: rgba(150,150,150,1);
    text-align: left;
}

.THIS.surveyBox .underRateLabel.right {
    display: inline-block;
    width: 50%;
    color: rgba(150,150,150,1);
    text-align: right;
}

.THIS.surveyBox .rating,
.THIS.surveyBox .csat {
    position: relative;
    height: 5rem;
    width: 100%;
}

.THIS.surveyBox .rating button,
.THIS.surveyBox .rating > button:hover ~ button {
  	height: 100%;
    color: rgba(200,200,200,1);
    background: none;
    border: none;
    margin: 0;
    vertical-align: middle;
    font-size: 3rem;
}

.THIS.surveyBox .rating:hover > button,
.THIS.surveyBox .rating button:hover,
.THIS.surveyBox .rating button.active {
    color: rgba(18,65,145,1);
}

.THIS.surveyBox .rating button.EmptyStar:before,
.THIS.surveyBox .rating button.Star:before,
.THIS.surveyBox .rating > button.Star:hover ~ button.Star:before {
    content: "☆";
}

.THIS.surveyBox .rating button.FullStar:before,
.THIS.surveyBox .rating:hover > button.Star:before,
.THIS.surveyBox .rating button.Star:hover:before,
.THIS.surveyBox .rating button.Star.active:before {
    content: "★";
}

.THIS.surveyBox .rating button.EmptyCircle:before,
.THIS.surveyBox .rating button.Circle:before,
.THIS.surveyBox .rating > button.Circle:hover ~ button.Circle:before {
    content: "○";
}

.THIS.surveyBox .rating button.FullCircle:before,
.THIS.surveyBox .rating:hover > button.Circle:before,
.THIS.surveyBox .rating button.Circle:hover:before,
.THIS.surveyBox .rating button.Circle.active:before {
    content: "●";
}

.THIS.surveyBox .rating button.EmptySquare:before,
.THIS.surveyBox .rating button.Square:before,
.THIS.surveyBox .rating > button.Square:hover ~ button.Square:before {
    content: "□";
}

.THIS.surveyBox .rating button.FullSquare:before,
.THIS.surveyBox .rating:hover > button.Square:before,
.THIS.surveyBox .rating button.Square:hover:before,
.THIS.surveyBox .rating button.Square.active:before {
    content: "■";
}

.THIS.surveyBox .csat button {
  	height: 60%;
    color: rgba(0,0,0,1);
    background: none;
    border: none;
    margin: 0;
    vertical-align: middle;
  	font-size: 1.5rem;
}

.THIS.surveyBox .csat button:hover,
.THIS.surveyBox .csat button.active {
    background: rgba(18,65,145,1);
    color: white;
    border-radius: 10%;
}

.THIS.endSurveyBox {
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 0;
    padding: 2rem;
    display: none;
}

.THIS.endSurveyBox .surveyEndImage {
    display: inline-block;
    height: 5rem;
    width: 5rem;
}