.THIS.greyBoxCard {
    /*padding: 13px;*/
    border: 0 solid transparent;
    min-height: 150px;
    width: 100%;
}

.THIS.networkBanner h4{
    margin: 13px;
    font-size: 18px;
    font-family: "NokiaPureHeadline_Ultralight", "Salesforce Sans", Arial, Helvetica, sans-serif;
}

.THIS.greyBoxCard p{
    margin: 13px;
}

.THIS.networkBanner .customer-network-img {
  position: relative;
}

.THIS.networkBanner .customer-network-img figure {
   width: 100%;
   overflow: hidden;
   margin: 0;
}

.THIS.networkBanner .customer-network-img figure img {
   display:block;
   /*margin: -0.875% -3px -5.875% -10px;
   width: 102%;
   max-width: 102%; */
   width: 100%;
   max-width: 100%;
}


@media only screen and (max-width: 480px) {
	.THIS.greyBoxCard {
    	padding: 8px;
        min-height: 125px;
    } 
    .THIS.greyBoxCard h4{
    	margin: 8px;
    	font-size: 14px;
    }
    .THIS.greyBoxCard p{
    	margin: 8px;
	}
    .THIS.networkBanner .customer-network-img figure img {
   		width: 104%;
   		max-width: 104%;
	}
}