/*.THIS .tablesize{
    height: 500px;
    padding-top: 40.0rem;
}*/
 
/*

@media  (min-width: 1280px) {
	.THIS .tablesize{
    height: 400px;
    padding-top: 20.0rem;
}
}



@media  (max-width: 768px) {
	.THIS .tablesize{
    height: 300px;
    padding-top: 20.0rem;
}	    
}
*/
@media  (min-width: 768px) {
	.THIS .tablesize{
    height: 500px;
    padding-top: 40.0rem;
}	   
}

@media (max-width: 48em) {
     .THIS .tablesize{
    height: 300px;
    padding-top: 20.0rem;
}
}

@media (max-width: 30em){
  .THIS .tablesize{
    height: 300px;
    padding-top: 20.0rem;
}   
}