.THIS .slds-page-header.nok-variant {
    border: none;
    background-color: t(ncp_grey1);
     height: 71.5px;
}

.THIS .slds-tile {
    border: 1px solid t(ncp_grey2);
}

.THIS .slds-tile-body {
    min-height: 171px;
}

.THIS .ncp-description {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  hyphens: auto;
}

.THIS .div1 {

    width:50px;
    height:50px;
    border: 1px solid grey;
    box-sizing: border-box;
    background-color: white;
}


.THIS .padding_top_for_text {

    padding-top:0.3rem;
}

.THIS .font_size_in_tile {
    font-weight: 200;
    font-size: 1.2rem;
    
    line-height: 1.0;
    color:#124191;
}