.THIS.centeredElems {
    text-align: center;
}

.THIS .zipWindowTitle {
    display: inline-block;
    padding-top: 2.5vmin;
    padding-bottom: 2.5vmin;
    font-size: 3vmin;
    text-align: center;
}

.THIS .zipWindowIcon {
    display: inline-block;
    height: 10vmin;
    width: 10vmin;
    margin-bottom: 4vmin;
}