.THIS .portal-footer.slds-box {
    border-color: transparent;
}

.THIS .portal-footer .portal-footer-menu {
  		display: flex;
    	justify-content: space-between;
    	font-family: "NokiaPureHeadline_Light", "Salesforce Sans", Arial, Helvetica, sans-serif;
}

.THIS .portal-footer .portal-signature {
  		white-space: nowrap;
    	font-family: "NokiaPureHeadline_Light", "Salesforce Sans", Arial, Helvetica, sans-serif;
}

.THIS .portal-footer .portal-footer-menu-col {
  		width: 87%;		
}

@media only screen and (min-width: 1024px) {
    .THIS .portal-footer .portal-footer-menu {
  		max-width: 80%;
	}	
}

@media only screen and (max-width: 1024px) {
    .THIS .portal-footer .portal-footer-menu-cell {
  		flex-direction: column !important;		
	}
    .THIS .portal-footer .portal-signature {
  		margin-top: 1em;			
	}
}

@media only screen and (max-width: 1280px) {
    .THIS .portal-footer .portal-footer-menu {
  		font-size: 13px;
	}
	.THIS .portal-footer .portal-footer-menu-cell {
  		/*flex-direction: column !important;*/		
	}
    .THIS .portal-footer .portal-footer-menu-col {
  		width: 100%;		
	}
    .THIS .portal-footer .portal-signature {
  		/*margin-top: 1em;*/			
	}

}


@media only screen and (max-width: 480px) {
	.THIS .portal-footer .portal-footer-menu-col .portal-footer-menu {
  		flex-direction: column !important;		
	}
    
    .THIS .portal-footer .portal-footer-menu-col .portal-footer-menu p.slds-col {
  		margin-bottom: 1em;	
	}

}