.THIS .slds-spinner_container  {
  
  margin-top: 200px;
  margin-bottom: 200px; 
}
.THIS .spins::after {
  position: absolute;
  content: 'Please wait while the Rebid Quote is created';
  width: 100%;
  text-align: center;
  top: calc(50% + 3em);
  font-weight: bold;
}