.THIS.exampleHolder{
    position: relative;
    width: 550px;
    height: 200px;
}

.THIS.mystles{	
    border-radius: 5px;
    background: #D3D3D3;
    padding: 10px; 
    width: 600px;
    height: 50px; 
    text-align: justify;
    font-size: large;
    font-weight: bold;
    text-align: center;
}


.THIS.formatOfbody{
    color: rgb(62, 62, 60);
    font-size: 14px;
}