.THIS .slds-col--padded{
    padding:0px;
}
.THIS .siteforceContentArea .comm-layout-column{
    padding:0px;
}
.THIS .comm-layout-column{
    padding:0px;
}
.THIS .ncp-button{
    color: #ffffff;
    background: #124191;
    border: none;
    width: 100%;
    padding: 9px;
}
.THIS .ncp-sites{
    padding: 9px;
    color: #4D5766;
}
.THIS .ncp-signup{
    padding: 9px;
    color: #124191;
}
.THIS .profileMenuContainner{
    width:400px;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
}
.THIS .profileMenuContainner .ncp-header-menu{
    margin: 5px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
}
.THIS .ncp-theme-banner{
    /* background: url(/sfsites/c/resource/NCP_custom_theme_images/Image@2x.jpg) no-repeat 0px center; */
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 0;
    background-size: cover;
}

.THIS .ncp-banner-title{
    color: #fff;
    display: inline-block;
    padding-top: 150px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 48px;
    font-weight: 200;
    line-height: 70px;
    padding-bottom: 0px;
}

.THIS .ncp-customRegion{
    border-bottom: 1px solid #bec8d2;
    float: left;
    width: 100%;
    padding-bottom: 2px;
    font-family:NokiaPureHeadline,Helvetica,Arial,sans-serif;
}

.THIS .ncp-customRegion .searchRegion{
    float:left;
    width:34%;
}

.THIS .ncp-customRegion .navigation{
    float: left;
    width: 66%;
    position: relative;
    top: 9px;
    padding-left: 79px;
}

.THIS .ncp-customRegion .navigation ul li:first-child{
    display:none;
}

.THIS .ncp-customRegion .searchRegion input{
    background: url(/sfsites/c/resource/ncp_custom_theme_images/loop.png) no-repeat 8px center;
    border: 1px solid #98a2ae;
    height: 30px;
    width: 315px;
    padding-left: 29px;
    padding-right: 0 !important;
    margin-bottom: 5px;
    position:relative;
    z-index:100;
}

.THIS .forceCommunitySearchBox.show-result .result-container{
    width: 316px;
    left: 0px;
}
.THIS .forceCommunityGlobalNavigation{
    background-color:#fff;
    color:#545d6c;
}

.THIS .forceCommunityGlobalNavigation ul li a{
    text-transform: capitalize;
}

.THIS .forceCommunityGlobalNavigation ul li a:hover{
    border-bottom: 2px solid #124191;
    color:#124191;
}

.THIS .forceCommunityGlobalNavigation ul li a.slds-is-active{
    border-bottom: 2px solid #124191;
    color:#124191;
}

.THIS .forceCommunityGlobalNavigation ul li a:hover{
    background-color:none;
}

.THIS .ncp-customRegion .searchRegion .search-button{
    display:none;
}

.THIS .search-field-wrapper{
    text-align:left;
}

.THIS .forceCommunityGlobalNavigation .slds-list__item a{
    background: none !important;
}

.THIS .mainContentArea{
    float:left;
    width:100%
}

.THIS .profileMenuRegion{
    height:70px;
}

.THIS .profileMenuRegion .profileMenuContainner{
    float: right;
    margin: 15px;
    z-index: 1222;
    position: relative;
    width:212px;
}

.THIS .profileMenuRegion .profileMenuContainner .bell-icon{
    float: left;
    position: relative;
    top: 4px;
}

.THIS .profileName{
    color:#606976;
}

.THIS .ncp-customLogo{
    width: 114px;
    float: left;
    position: relative;
    top: 27px;
    left: 13px;
}

.THIS .ncp-bar{
    height: 48px;
    width: 100%;
    background: #124191;
    float: left;
    text-align: center;
    padding-top: 7px;
    color: #fff;
    font-size: 23px;
    font-family:NokiaPureHeadline_Ultralight,Helvetica,Arial,sans-serif;
}

.THIS .ncp-bar svg{
    fill:#fff;
}

.THIS .footer-bottom{
    width:94%;
    margin : 0 auto;
    height:30px;
    padding-top:10px;
}

.THIS .footer-bottom li{
    width: auto;
    float: left;
    margin-right: 34px;
    font-family:NokiaPureHeadline,Helvetica,Arial,sans-serif;
}

.THIS .down-arrow,.THIS .triggerDownArrow{
    display:none !important;
}

.THIS .trigger-link{background: url(/sfsites/c/resource/ncp_custom_theme_images/icon-user-profile.png) no-repeat center right;
    background: url(/sfsites/c/resource/ncp_custom_theme_images/icon-user-profile.png) no-repeat center right;
    width: 14px;
    height: 21px;
    position: relative;
    top: -2px;
    padding-right: 19px;
}

.THIS .forceCommunitySearchBox.big-search-container {
    position: relative;
    width: 100%;
    z-index: 1;
}

.THIS .profileMenuContainner svg{
    fill:#124191;
}