.THIS {
    width:100%;
}

.THIS.ncp-bar {
    color: t(ncp_primary_background);
}

.THIS.ncp-bar svg {
    fill: currentColor;
}

.THIS .ncp-linkGroup_link {
    color:t(ncp_grey4);
}

.THIS .ncp-bar_link,
.THIS .ncp-bar_link::selection {
    color: t(ncp_primary_background);
}