.THIS .table_height {
    height: 15rem;
}
.THIS #contractTable .slds-button_icon-bare {
	display: none;
}
.THIS #contractTable thead .slds-truncate {
    text-overflow: inherit;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}
.THIS #contractTable tbody .slds-truncate {
    text-overflow: inherit;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}