.THIS.banner-header {
    background-size: cover;
   	background-position-y: bottom;
   	background-image: linear-gradient( to right, rgba(222,229,239, 0.65), rgba(255,255,255, 0.9) 75%), url('https://nokia--ccpq1--c.cs26.visual.force.com/resource/1542711972000/CommunityGlass');
}

.THIS.banner-header .banner-headline h2{
    font-size: 33px;
    color: #124191;
    font-family: "NokiaPureHeadline_Ultralight", "Salesforce Sans", Arial, Helvetica, sans-serif;
}
 
.THIS.banner-header .banner-customer-logo {
    border: 1px solid transparent;
    background-color: transparent;
    text-align: right;
}

.THIS.banner-header .banner-customer-logo img {
   width: 70%;
}

@media only screen and (max-width: 780px) {
	.THIS.banner-header .banner-headline h2{
    	font-size: 21px;
    }
}

@media only screen and (max-width: 580px) {
	.THIS.banner-header .banner-headline h2{
    	font-size: 18px;
    }
}

@media only screen and (max-width: 480px) {
	.THIS.banner-header {
    	background-image: linear-gradient( to right, rgba(222,229,239, 0.65), rgba(255,255,255, 0.9) 55%), url('https://nokia--ccpq1--c.cs26.visual.force.com/resource/1542711972000/CommunityGlass');
	}
    .THIS.banner-header .banner-headline h2{
    	font-size: 13px;
    }
}