.THIS.related_list_themed_border_top {
    border-top-width: 3px;
    border-top-color: rgb(176, 173, 171);
    border-top-style: solid;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
} 
.THIS H2 {
    padding: 20px;
    display: block;
    font-size: 10px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}