.THIS .heightSelect{
    height: 2.3rem !important;
}
.THIS .pad {
    padding-right: 20px;
}
.THIS .pad1 {
    padding-right: 10px;
}
.THIS .inner-div {
	height: 50%;
}
.THIS .slds-modal__header{padding-top:0px;}