.THIS .whiteicon {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.THIS .greenicon {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}