.THIS {
}

.THIS .border {
    border: 1px dashed red;
}

.THIS .border2 {
    border: 1px dotted blue;
}

.THIS .slds-tabs_default__nav {
    border-bottom-color: transparent;
}

.THIS .navigation .forceCommunityGlobalNavigation {
    background-color: #124191;
    min-height: 53px;
}

.THIS .navigation community_navigation-global-navigation-list {
    max-width: 100%;
}

.THIS .navigation community_navigation-global-navigation-list>.slds-grid {
    padding-left: 0;
}

.THIS .navigation .forceCommunityGlobalNavigation .slds-list__item a {
    line-height: 2.7;
    transition: background-color 0.5s ease;
}

.THIS .navigation .forceCommunityGlobalNavigation .slds-list__item a:hover {
    background-color: rgba(255,255,255,0.2);
}

.THIS .navigation .forceCommunityGlobalNavigation .slds-list__item a.slds-is-active {
    background-color: rgba(255,255,255,0.4);
}

.THIS .contentWindow {
    min-height: 666px;
}

@media only screen and (max-width: 480px) {
	.THIS.slds-p-around_medium {
    	padding: 0;
	}
}

@media only screen and (min-width: 900px) {
	.THIS .navigation community_navigation-global-navigation-list .slds-list_horizontal li:nth-last-child(2) {
   		margin-left: auto;
	}
}