.THIS.slds-modal__container{
    max-width: 500px !important;
    width:500px !important;
}

.THIS.slds-modal__content{
    position: absolute;
    height: auto;
    top: 58px;
    bottom: 55px;
}

.THIS.slds-modal__header {
    position: absolute;
    top: 0;
}

.THIS.slds-modal__footer {
    position: absolute;
    bottom: 0;
}

.THIS .reminder {
    width: calc(100% + (var(--lwc-spacingMedium,1rem) * 2));
    margin: 0 calc(-1 * var(--lwc-spacingMedium,1rem));
    padding: var(--lwc-spacingMedium,1rem);
    padding-top: 0;
    margin-bottom: var(--lwc-spacingMedium,1rem);
    border-bottom: 1px solid var(--sds-c-modal-color-border, var(--lwc-colorBorder,rgb(221, 219, 218)));
}

.THIS .scrollable {
    max-height: none !important;
}

.THIS.Show {
    display:block;
}

.THIS.Hide {
    display:none;
}

.THIS .slds-output:hover {
    text-decoration: underline;
}

.THIS .quickConvert {
    margin-left: 90px;
    transform: translateY(2);
}

.THIS .ErrorMsg {
    color:red;
}