.THIS.test{
    background:#124191;
}

.THIS.eucookie-test{ 
    
    z-index:9999; 
    bottom:0;
    left:0; 
    right:0; 
    background:#124191; 
    color:#fff; 
    margin:1em; 
    padding:0.5em; 
    text-align:center; 
    border-width:12px;  
    border-color:#01c9ff; 
    font-size: 10px; 
    font-family: Arial;
} 
.THIS.eucookie {       
    position: fixed;       
    /*bottom: 0;   */   
    top: 8%;
    left: 0;       
    width: 100%;       
    min-height: 60px;       
    color:#fff;       
    z-index: 999998;       
    background:#124191;        
    border-top: 1px solid #0085D0;       
    font-family: Arial;       
    transition: bottom .3s linear;
    padding:0.8em;
    font-size: 14px;
    text-align:center; 
}

.THIS .eucookie.content { 
    float:center; 
    width:96%;  text-align:center;font-family:Arial;font-size:14px;color:#fff;  } 

.THIS .btn1 {
    border:2px solid #fff;
    background-color:#124191;
    font-color:#fff; 
    padding:  4px  8px;
    font-family: "Arial";
    font-size: 14px;
    cursor: pointer;
    align-items: center;
}

.THIS.btn {
    border-color:#fff;
    background: #124191;
    color: white;
    padding:  4px  8px;
    font-family: "Arial";
    font-size: 14px;
    cursor: pointer;
    align-items: center;
}

.THIS .close { 
    width: 100%;
    text-align: right;
    
}