.THIS .slds-input
{
   
}
.THIS .headercolor {
    background-color:#124191;
    color:white;
    padding-left: 10px;
}
.THIS label.setWidth {
    width: 500px;
}
.THIS .Success
{
    color:#124191;
}
.THIS.main
{
   
    margin-left:10px;
}
.THIS .required
{
   color:red; 
}
.THIS .sameasabove
{
    border-color:#124191;
}
.THIS.Show
{
    display:block;
}
.THIS.Hide
{
    display:none;
}
.THIS.CheckedColor
{
    background-color:red;
}
.THIS input.error, .THIS select.error {
    background-color: rgb(255, 255, 255);
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    background-clip: padding-box;
}
.THIS .labelcol {
    color: red;
}
.THIS select.selectwid {
    width: 200px;
}