.THIS.greyBoxCard {
    background-color: rgba(222,229,239,0.6);
    padding: 13px;
    min-height: 150px;
}

.THIS.greyBoxCard h4{
    margin: 13px;
    font-size: 21px;
    font-family: "NokiaPureHeadline_Ultralight", "Salesforce Sans", Arial, Helvetica, sans-serif;
}

.THIS.greyBoxCard p{
    margin: 13px;
}

.THIS.greyBoxCard.survey {
    background-image: linear-gradient( to right, rgba(222,229,239, 0.9), rgba(222,229,239, 0)), url(/resource/Surveyimage);
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1024px) {
    .THIS.greyBoxCard {
    	padding: 8px;
        min-height: 125px;
    } 
    .THIS.greyBoxCard h4{
    	margin: 8px;
    	font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
	.THIS.greyBoxCard {
    	padding: 8px;
        min-height: 125px;
    } 
    .THIS.greyBoxCard h4{
    	margin: 8px;
    	font-size: 14px;
    }
    .THIS.greyBoxCard p{
    	margin: 8px;
	}
}