.THIS .slds-table thead th span {
    text-transform: capitalize;
    font-size: 16px;
    font-family: "NokiaPureHeadline_Ultralight", "Salesforce Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #666;
}

.THIS .table-pagination .slds-button-group button {
    width: 48px;
    height: 43px;
    -ms-transform: scale(0.7,0.7);
    -webkit-transform: scale(0.7,0.7);
    transform: scale(0.7,0.7);
    margin: 5px;
}

.THIS .table-pagination .slds-button-group span {
    font-size: 80%;
    margin: 19px 2px;
}

.THIS .table-pagination .slds-button-group button.slds-button_brand[disabled] {
    background-color: transparent;
    border-color: #ddd;
    color: #ddd;
}

.THIS .filtering label {
    font-size: .75rem;
}

.THIS lightning-primitive-header-actions {
    display: none;
}

.THIS .tableHeader {
    margin-top: 50px;
    border-bottom: 1px solid rgb(212, 212, 212);
    color: #777;
}

.THIS .slds-th__action svg {
    fill: #2574a9;
}

.THIS .slds-table button svg {
    fill: #2574a9;
}

.THIS .searchButton {
	margin-top: 22px;
}

.THIS .slds-table .slds-button_icon-border-filled {
    width: 1.1rem;
    height: 1.1rem;
}

.THIS .slds-table .slds-row-number:after {
    content: counter(none) !important ;
    display: none !important ;
}

.THIS .slds-table th, .THIS .slds-table td {
    line-height: 1.8rem;
    vertical-align: top !important ;
}

.THIS.slds-spinner_container {
    z-index: 10000;
    position: fixed;
}