.THIS lightning-textarea {
    margin: 20px 0px;
}

.THIS header h2 {
    color: rgb(37, 116, 169);
}

.THIS footer {
    background: #f3f2f2;
}

.THIS.slds-spinner_container {
    z-index: 10000;
    position: fixed;
}